/* Propriedades calendário */

.calendar {
  color: #000;
  background: #eee2df;
  width: 100%;
  height: 28rem;
  border-radius: 0.7rem;
  margin-top: 2rem;
}

.month {
  color: #fff;
  background-color: #283a53;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 0.8rem 0.8rem 0 0;
}

.month .arrow {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
}

.month h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.month p:not(.arrow) {
  font-size: 1.2rem;
}

.weekdays {
  color: #fff;
  background-color: #283a53;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(100% / 7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1rem;
  width: calc(100% / 7);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  color: #fff;
  background: #a52422;
  border-radius: 0.2rem;
}

.calendar .month {
  border: unset;
}

.calendar .weekdays {
  border: unset;
}
